* {font-family: sans-serif}
#title-bar {
    background: #00B2ED;
    color: #FFF;
    padding: 8px;
    vertical-align: center;
}
#title-bar a {
    color: #B6D8E3;
}
body {
    padding: 0;
    margin: 0;
}
.msg {
    border-radius: 4px;
    background: #00B2ED;
    padding: 8px 16px;
    color: white;
    margin: 8px;
}
.msg-small {
    display: block;
    font-size: 10px;
}
